.main {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 10vw;
}

.titre, .paragraphe, .carte-description {
    font-family: 'Work Sans', sans-serif;
    background-color: #272727;
    padding: 10px;
    color: #ffffff;
}

.titre {
    display: inline-block;
    font-size: 30px;
}

.paragraphe {
    display: inline-block;
    margin-top: 40px;
    font-size: 15px
}

.carte {
    overflow: hidden;
    margin-top: 3vw;
}

.carte, .carte-image, .carte-description {
    width: 37vw;
}

.carte-image {
    display: block;
}

.galerie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

body {
    background-image: url("images.jfif");
}

.moi {
    float: right;
    border : 1px solid black;
    border-radius : 4px;
    padding : 5px;
    width: 150px;
}